@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
:root {
  --primary-color: #ff4c29;
  --secondary-color: #334756;
  --primary-bg: #082032;
  --secondary-bg: #2c394b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-bg);
  color: white;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
header,
footer {
  height: 80px;
  background: var(--secondary-bg);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 960px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media all and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .brand-name {
    padding: 0.5rem 0;
  }
  header {
    height: 100px;
  }
}

.text-center {
  text-align: center;
}
.brand-name {
  flex-grow: 1;
}
.brand-name a {
  font-size: 2rem;
  color: white;
  font-family: "Rampart One", cursive;
}
nav {
  flex-grow: 1;
}
nav a {
  font-size: 1.15rem;
}
nav ul {
  float: right;
}
nav ul li {
  margin: 0 5px;
  padding: 0 5px;
  position: relative;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  background: white;
  height: 3px;
}
.card {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 3rem auto;
  background: var(--secondary-bg);
  border-radius: 0.5rem;
}
.card-header {
  color: var(--primary-color);
  text-align: center;
  border-bottom: 2px dashed var(--primary-color);
  padding: 1.5rem 0;
}
.card-header h2 {
  font-size: 2.5rem;
}
.card-body {
  padding: 1rem;
}
.card-footer {
  text-align: center;
  padding: 1rem 0;
}
label {
  display: block;
  color: var(--primary-color);
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: bold;
}
input[type="text"] {
  font-size: 1.25rem;
  width: 100%;
  padding: 0.25rem 0.75rem;
  border-radius: 2rem;
  border: 2px dashed var(--primary-color);
}
input[type="text"]:focus {
  border: 2px dashed var(--primary-bg);
  outline: none;
}
.btn {
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem 1rem 1rem 0;
  font-weight: bold;
  font-size: 1.15rem;
  color: var(--secondary-color);
  cursor: pointer;
}
.btn:hover {
  background: var(--primary-bg);
  color: var(--primary-color);
}
.message {
  font-size: 1.25rem;
  margin: 0.75rem;
  font-weight: bold;
}
footer {
  background: var(--secondary-color);
}
footer .container {
  justify-content: center;
}
.social-links {
  margin: 0 1rem;
  padding: 0.5rem 0;
}
.social-links li {
  margin: 0 0.25rem;
}
.social-links a {
  color: white;
}
.social-links a:hover {
  color: var(--primary-color);
}

.input-group {
  width: 100%;
  margin: 1.75rem 0;
}

.options label,
input[type="radio"] {
  display: inline;
  padding: 0 0.5rem;
  color: white;
  font-weight: normal;
}

#quizApp .container {
  flex-direction: column;
  margin-bottom: 2.5rem;
}
